body {
    background-color: lightblue;
  }
  
  h1 {
    color: dimgray;
    font-family: yellowtail;
  }

  h2 {
      color: rgb(61, 59, 59);
    font-family: courgette;
  
  }

  h3 {
      color: rgb(108, 108, 108);
    font-family: courgette;
  
  }

  p {
      color: rgb(108, 108, 108);
    font-family: yellowtail;
  
  }

  b {
      color: rgb(61, 59, 59);
    font-family: courgette;
  
  }

  img {
      border-radius: 100px 100px / 200px;
  }
  
  @font-face {
      font-family: yellowtail;
      src: url(fuentes/Yellowtail-Regular.ttf);
  }

  @font-face {
      font-family: courgette;
      src: url(fuentes/Courgette-Regular.ttf);
  }