@import url(https://fonts.googleapis.com/css?family=Indie+Flower:regular);

body {
    background-color: #93deff;
  }

#imag{

    border-radius: 100px 100px / 200px;

}

#imagenes-menu{

    float: right;
    border-radius: 100px 100px / 200px;
    background: whitesmoke;
    

}

#zona-menu{
    border-radius: 100px 100px / 200px;
    width: 100%;
    background: whitesmoke;
    color: black;

}

#zona-encabezado { 
    width: 95%;
	background: #606470; 
    color: white;
    font-family: courgette;
    text-align: center;
    font-size: 20px;
    border-radius: 100px 100px / 200px;
    float: left;
}

#letrain{

font-family: indie flower;
color: #606470;
font-size: 60px;

}